@import url('https://fonts.googleapis.com/css?family=Jost');

.search-bar {
    color: #FFF;
    font-family: Jost;
}

.text-input {
    width: 45vw;
    border-radius: 5px;
}

.button {
    background-color: #fe4a4b;
    color: #FFF;
    font-family: Jost;
    padding: 10px;
    border-radius: 5px;
}

span {
    margin-top: 10px;
}
