@import url('https://fonts.googleapis.com/css?family=Jost');

.table-content {
    border-collapse: collapse;
    font-family: Jost;
    background-color: #FFF;
    margin-left: -6px;

}

.table-content thead tr {
    background-color: #7283DC;
    font-style: normal;
    color: #FFF;
}

.table-content th {
    padding: 10px;
}

.table-content td {
    padding: 5px 0 5px 10px;
    color: #444444;
}

.icon-table {
    width: 20px;
    margin-left: 5px;
}

.icon-table:hover {
    cursor: pointer;
}

tfoot {
    background-color: #7283DC;
}