
@import url('https://fonts.googleapis.com/css?family=Jost');


.header {
    background-color: #6373CD;
    height: 85px;
}

.logo {
    height: 60px;
    margin-top: 14px;
}

.title {
    color: #FFF;
    font-family: Jost;
    font-size: 48px;
    margin-left: 15px;
    margin-top: 7px;
}


